* {
    box-sizing: border-box;
    font-family: 'Hattori Hanzo Light', sans-serif;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    background: var(--login-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
    min-height: 800px;
}

#main-box {
    background: var(--login-box-bg);
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 450px;
    position: relative;
}

#invalid-text {
    position: absolute;
    top: 95px;
    width: calc(100% - 40px);
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--compliment);
    margin-bottom: 25px;
}

#email-exists {
    position: absolute;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 145px;
    color: var(--compliment);
}

#header {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 30px;
}

#header > div:first-child {
    font-size: 32px;
    color: var(--text-bright);
}

#header > div:last-child {
    font-size: 24px;
    color: var(--text-dark);
}

.label {
    color: var(--text-bright);
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.field {
    margin-bottom: 20px;
    outline: none;
    border: none;
    background: none;

    box-shadow: 0 0 3px rgba(0, 0, 0, .6);
    height: 50px;
    padding: 10px;
    font-size: 28px;
    color: var(--text-bright);
    width: 100%;
    border-radius: 5px;

    transition: all 300ms ease;
}

.field#email-field.incorrect {
    animation: shake 300ms linear;
}

.field#password-field.incorrect, .field#nickname-field.incorrect {
    animation: shake 300ms linear 100ms;
}

.field#register-password-field.incorrect {
    animation: shake 300ms linear 200ms;
}

.field#repeat-password-field.incorrect {
    animation: shake 300ms linear 300ms;
}

.field.correct {
    animation: shake-vertical 300ms linear;
}

#main-box > .correct {
    box-shadow: 0 0 3px rgba(77, 212, 36, 0.6);
}

#main-box > .incorrect {
    box-shadow: 0 0 3px rgba(212, 92, 36, 0.6);
}

#main-box:has(.field.incorrect) > .button {
    background: var(--button-bg-red);
    animation: shake 300ms linear;
    cursor: not-allowed;
}

#main-box:has(.field.incorrect) > .button:hover {
    transition: background 100ms ease;
    background: var(--button-bg-red-onhover);
}

#main-box:has(.field.incorrect) > .button:active {
    background: var(--button-bg-red-onpress);
}

#main-box:not(:has(.field:not(.correct))) > .button {
    background: var(--button-bg-green);
    animation: shake-vertical 300ms linear 100ms;
}

#main-box:not(:has(.field:not(.correct))) > .button:hover {
    transition: background 100ms ease;
    background: var(--button-bg-green-onhover);
}

#main-box:not(:has(.field:not(.correct))) > .button:active {
    background: var(--button-bg-green-active);
}

#main-box > .button {
    box-shadow: 0 0 3px rgba(0, 0, 0, .6);
    height: 50px;
    padding: 10px;
    font-size: 24px;
    color: var(--text-bright);
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    user-select: none;
    cursor: default;
    margin-top: 20px;
    margin-bottom: 15px;

    transition: background 300ms ease;
}

#main-box > .button:hover {
    background: var(--button-bg-onhover);
}

#forgotten-password, #register {
    margin-bottom: 5px;
}

#forgotten-password {
    color: var(--red);
    cursor: pointer;
}

#register {
    color: var(--green);
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text-bright);
    transition: background-color 5000s ease-in-out 0s;
}

/* --------------------------------------------- REGISTER --------------------------------------------- */

#back {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
    color: var(--text-bright);
    fill: var(--text-bright);
    cursor: pointer;
    user-select: none;
}

#back > svg {
    height: 100%;
    transform: translateY(-2px);
    margin-right: 10px;
}

#back:hover {
    color: var(--text-dark);
    fill: var(--text-dark);
}

#password-checks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
    margin-bottom: 10px;
}

#password-checks > div {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
}

#password-checks > .full-width {
    grid-column: 1 / -1;
    flex-wrap: nowrap;
}

#password-checks > .full-width > span {
    background: var(--background);
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}

#password-checks > div > svg {
    height: 100%;
    aspect-ratio: 1 / 1;
}

#password-checks > div.correct {
    color:rgba(77, 212, 36, 1);
    fill: rgba(77, 212, 36, 1);
}

#password-checks > div:not(.correct) {
    color:rgba(212, 92, 36, 1);
    fill: rgba(212, 92, 36, 1);
}

#password-checks > div:not(.correct) > .x {
    display: block;
}

#password-checks > div:not(.correct) > .v {
    display: none;
}

#password-checks > div.correct > .x {
    display: none;
}

#password-checks > div.correct > .v {
    display: block;
}

#strength-box {
    color: var(--text-bright);
    margin-bottom: 15px;
    width: 100%;
}

#strength-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2px;
    margin-top: 5px;
}

#strength-bar > div {
    height: 100%;
}

#strength-bar > .red {
    background: rgb(158, 54, 54);
}

#strength-bar > .yellow {
    background: rgb(128, 128, 33);
}

#strength-bar > .green {
    background: rgb(23, 95, 23);
}

#strength-bar > .blue {
    background: rgb(36, 36, 107);
}

#strength-bar > div:not(.active) {
    display: none;
}
 

@keyframes shake {
    0% {transform: translateX(10px);}
    30% {transform: translateX(-10px);}
    60% {transform: translateX(8px);}
    75% {transform: translateX(-6px);}
    90% {transform: translateX(4px);}
    100% {transform: translateX(0);}
}

@keyframes shake-vertical {
    0% {transform: translateY(5px);}
    30% {transform: translateY(-5px);}
    60% {transform: translateY(4px);}
    75% {transform: translateY(3px);}
    90% {transform: translateY(2px);}
    100% {transform: translateY(0);}
}

@media only screen and (any-pointer: coarse) {
    body {
        background: var(--login-box-bg);
        min-width: none;
        min-height: none;
    }
    
    #main-box {
        padding: 30px 20px;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        height: 100%;
    }

    #header {
        margin-bottom: 20vh;
    }

    #header > div:first-child {
        font-size: 30vw;
    }
    
    #header > div:last-child {
        font-size: 24vw;
    }

    .label {
        font-size: 12vw;
    }

    #main-box > .field, #main-box > .button {
        height: 32vh;
        font-size: 12vh;
        border-radius: 5vw;
        margin-bottom: 5vh;
    }

    #forgotten-password, #register {
        font-size: 8vh;
        margin-bottom: 5vh;
    }

    #back {
        height: 10vh;
        font-size: 8vh;
        margin-bottom: 4vh;
    }

    body#register #header {
        margin-bottom: 10vh;
    }

    #password-checks {
        grid-template-rows: 6vh 6vh 6vh;
    }

    #password-checks > div {
        font-size: 6vh;
    }
}